.contactForm {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
  background-image: url("../../images/ContactBackground.jpg");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.box {
  display: flex;

  justify-content: space-between;
  gap: 15ch;
  background-color: #e4ebf3;
  border: 2px #707070 solid;
}

.contactForm h2 {
  text-transform: uppercase;
  color: #70614a;
  font-weight: lighter;
  font-size: 40px;
  padding-bottom: 30px;
}

.contactInfo p {
  color: #70614a;
  font-weight: bolder;
  font-size: 20px;
  margin: 0;
  padding-bottom: 30px;
}

.contactInfo {
  width: 100%;
  padding: 30px;
  text-align: center;
  line-height: 0rem;
  margin-top: 50px;
  padding-right: 30px;
}
.contactBox {
  width: 50%;
  display: inline-flex;
  justify-content: flex-start;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 30px;
}
/*/////////////*/
.form {
  width: 50%;
  display: inline-flex;
  justify-content: flex-start;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 30px;
  margin-right: 50px;
}

.form form > div {
  width: 100%;
  margin-right: 45px;
  display: flex;
  flex-flow: column;
}

.form form input {
  display: flex;

  width: 100%;
  height: 35px;
  border: 0px;
  border-bottom: 3px solid #707070;
  margin-bottom: 20px;
  background-color: inherit;
}

.form form .message {
  width: 100%;
}

.form form .message > input {
  height: 80px;
  border: 0px;
  border-bottom: 3px solid #707070;
  padding: 0%;
}

.contactForm button:hover {
  background: #d6c8c8;
  cursor: pointer;
  border: 2px solid black;
}
