.contactForm {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
  /*background-image: url("../../images/ContactBackground.jpg");*/
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15ch;
  background-color: #e4ebf3; 
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 2px #70614a solid;
}

@media only screen and (max-width: 900px) {
  .contactInfo p {
    display: none;
  }
  .box {
    flex-direction: column;
    gap: unset;
  }

  .contactInfo {
    width: 100%;
    margin-top: 0px !important;
    padding-right: 0px;
    display: flex;
    align-items: center;
  }

  .form1 {
    width: 100%;
    padding: 0px !important;
  }

  .contactBox {
  }
}

@media screen and (max-width: 494px) {
  .contactForm h2 {
    font-size: 25px !important;
    padding-bottom: 0px !important;
  }
  .box {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 428px) {
  .contactInfo {
    padding-left: 20px !important;
  }
  .contactInfo h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 365px) {
  .contactInfo {
    padding-left: 0px !important;
  }
  .contactInfo h2 {
    font-size: 23px !important;
  }
}
.contactForm h2 {
  text-transform: uppercase;
  color: #70614a;
  font-weight: lighter;
  font-size: 40px;
  padding-bottom: 30px;
}

.contactInfo p {
  color: #70614a;
  font-weight: bolder;
  font-size: 20px;
  margin: 0;
  padding-bottom: 30px;
}

.contactInfo {
  width: 100%;
  padding: 30px;
  text-align: center;
  line-height: 0rem;
  margin-top: 50px;
  padding-right: 30px;
}
.contactBox {
  width: 50%;
  display: inline-flex;
  justify-content: flex-start;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 30px;
}
/*/////////////*/
.form1 {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 30px;
}

.form1 form > div {
  width: 100%;
  margin-right: 45px;
  display: flex;
  flex-flow: column;
}

.form1 form input {
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 35px;
  border: 0px;
  border-bottom: 3px solid #707070;
  margin-bottom: 20px;
  background-color: inherit;
}

.form1 form .message {
  width: 100%;
}

.form1 form .message > input {
  height: 80px;
  border: 0px;
  border-bottom: 3px solid #707070;
  padding: 0%;
}

.contactForm button:hover {
  background: #d6c8c8;
  cursor: pointer;
  border: 2px solid black;
}

@media screen and (max-width: 362px) {
  .form1 form input {
    font-size: 15px !important;
  }
}