.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#F0F3F8; 
  padding-left: 50px;
  padding-right: 50px; 
}

.container h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #7A5834;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
}

.title span{
  border-bottom: 1px solid #7a5834;
}

.containerContent{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}

.pageContent {
  justify-content: space-between;
  width: 100%;
  object-fit: cover
}

.imageParagraph h2 {
  text-align: center;
}
.imageParagraph p {
  text-align: center;
}

.imageParagraph .imageHalf,
.articleHalf {
  height: 50%;
}

.imageParagraph article {
  max-width: 70%;
  margin: 0 auto;
  letter-spacing: 0.2px;
  margin-bottom: 20%;
  padding-bottom: 35px;
}

.imageHalf div,
.imageHalf div div {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.button1:hover {
  background: #d6c8c8;
  cursor: pointer;
  border: 2px solid black;
}

.button1 {
  border-radius: 40px;
  border-color: #707070;
  border: 2px solid #707070;
  background-color: #ece5e5;
  height: 30px;
  width: 140px;
  outline: none;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
}

.list li {
  list-style: none;
  margin: 5px 10px;
  width: min-content;
  background-color: #ece7da;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.list li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.list{
  display: flex;
  flex-direction: row;
  gap: 2vw;
}