.about {
  background-color: #ece7da;
  color: black;
  width: 500;
}

.about > div {
  margin-top: 0%;
  line-height: 2rem;
  padding: 70px 140px 70px 140px;
  text-align:left;
  font-size: 20px;
}
.about span{
  color:#7A5834;
  font-weight: 600;
  cursor: pointer;
}