.about {
  background-color: #ece7da;
  color: black;
  width: 500;
}

.about > div {
  margin-top: 0%;
  line-height: 2rem;
  padding: 70px 140px 70px 140px;
  text-align:left;
  font-size: 20px;
}
.about span{
  color:#7A5834;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 730px) {
  .about > div {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 17px;
  }}

  @media only screen and (max-width: 570px) {
    .about > div {
      padding:65px 80px 65px 80px;
      font-size: 16px;
    }}

    @media only screen and (max-width: 480px) {
      .about > div {
        padding:60px 70px 60px 70px;
        font-size: 16px;
        line-height: 1.5rem
      }}