.navigationBar {
  left: 420px;
  margin-top: 10px;
  height: 40px;
  width: 500px;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigationBar li {
  padding: 14px 15px;
  list-style: none;
  width: fit-content;
  font-size: 20px;
  line-height: 10px;
  text-transform: uppercase;
  color: #8f6a43;
  border-right: 2px #999 solid;
}
.navigationBar li:hover {
  border-bottom: 3px solid darkgray;
  cursor: pointer;
}
.navigationBar a:last-child {
  font-weight: 550;
}
.navigationBar a:last-child li{
  border-right: none;
}

.navigationBar .active,
.navigationBar .active:hover {
  border-bottom: 3px solid #8f6a43;
}

@media screen and (max-width: 880px) {
.navigationBar {
  display: none;
}}