.navigationBar {
  position: absolute;
  left: 0px;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigationBar li {
  padding: 14px 15px;
  list-style: none;
  width: fit-content;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #8f6a43;
  border-right: 2px #999 solid;
}
.navigationBar li:hover {
  border-bottom: 2px solid darkgray;
  cursor: pointer;
}

.navigationBar .active,
.navigationBar .active:hover {
  border-bottom: 2px solid #8F6A43;
}
