.titleImage {
  height: 500;
  width: 100%;
  transition: 0.5s ease-out; 
}

.titleImage span {
  font-size: 60px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 700;
  border-bottom: white solid 1px;
  cursor: pointer;
  margin: 0px;
}

.titleImage button{
  border-radius: 40px;
  background-color:rgba(143,106,67,0.5);
  border:transparent;
  height: 80px;
  width: 640px;
  outline: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}