.titleImage {
  height: 500;
  width: 100%;
  transition: 0.5s ease-out; 
  position: relative;
}

.titleImage span {
  font-size: 60px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 700;
  border-bottom: white solid 1px;
  margin: 0px;
  height: 80px;
  width: 640px;
}

.titleImage button{
  border-radius: 40px;
  background-color:rgba(143,106,67,0.5);
  border:transparent;
  height: 80px;
  width: 640px;
  outline: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.titleImage button:hover {
  background-color:rgba(136, 103, 67, 0.857);
  border:transparent;
  cursor: pointer;
}


@media screen and (max-width: 880px) {
  .titleImage button{
    height: 60px;
    width: 580px;
  }
  .titleImage span {
    height: 60px;
    width: 580px;
}}

@media screen and (max-width: 800px) {
  .titleImage button{
    height: 50px;
    width: 400px;
  }
  .titleImage span {
    height: 50px;
    width: 400px;
  }
}