.footer {
  background-color: white;
  padding: 5px;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   border-top: 2px solid #8f6a43;
}

.footer .address {
  list-style: none;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 0px;
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.phone {
  margin: 11px 0;
}

.follow {
  list-style: none;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding-left: 0px;
}

.rights {
  font-size: 15px;
  padding-left: 5px;
}

.left {
  list-style: none;
  padding-left: 10px;
  position: relative;
}

.icons {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.icons{
transition: all 0.3s ease-in-out;
transform: scale(1.05);
}

.logo {
  display: flex;
  flex-flow: column;
  width: fit-content;
  height: 50px;
  margin: 2px;
}

.icon {
  width: 120px;
  height: 40px;
  margin: 10px;
}

.icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .icons {
  margin: 8px;
  }
  .follow li{
    font-size: 14px;
  }

  .rights{
    font-size: 14px;
  }
  }

  @media screen and (max-width: 620px) {
    .icons {
    width: 30px;
    height: 30px;
    margin: 7px;
    }

    .title  {
      font-size: 16px;
    }
    .phone  {
      font-size: 15px;
    }
    }

    @media screen and (max-width: 510px) {
      .address {
      width: 140;
      height: 95;
      
      }
      .address li{
        font-size: 14px;
      }

      .follow li{
        font-size: 14px;
      }
      .follow{
        padding-left: 5px;
      }
      .rights{
        font-size: 11px;
      }

    }
    @media screen and (max-width: 485px) {
      .footer{
        flex-flow: column;
        align-items: center;
      }

      .footer .address{
        display: none;
      }

      .icons {
        width: 25px;
        height: 25px;
        }
      .follow{
        margin-top: -5px;
        margin-top: 0px;
      }
      .rights{
      margin-left: 13px;
      }
      .logo{
        margin-bottom: -8px;
      }
    }
