.footer {
  background-color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 16px;
}

.footer .address {
  list-style: none;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.phone {
  margin: 11px 0;
}

.follow {
  list-style: none;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.rights {
  font-size: 15px;
}

.left {
  list-style: none;
  padding-left: 10px;
}

.icons {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.follow div{
  display: flex;
  flex-direction: row;
}
.logo{
    display: flex;
    flex-flow: column;
    width: fit-content;
    left:10%;
    transform: translateX(-10%);
    position: absolute;
}

@media screen and (max-width: 660px) {
  .icons {
  width: 30px;
  height: 30px;
  margin: 10px;
  }
  .follow li{
    font-size: 14px;
  }

  .rights{
    font-size: 14px;
  }
  }

  @media screen and (max-width: 620px) {
    .icons {
    width: 20px;
    height: 20px;
    margin: 10px;
    }

    .title  {
      font-size: 16px;
    }
    .phone  {
      font-size: 16px;
    }
    }

    @media screen and (max-width: 510px) {
      .address {
      width: 140;
      height: 95;
      font-size: 14px;
      }
      .follow li{
        font-size: 11px;
      }
      .follow{
        padding-left: 5px;
      }
      .rights{
        font-size: 11px;
      }

    }