.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7A5834;
    font-weight: 400;
    font-size: 35px;
    text-align: left;
    border-bottom: 1px solid #7a5834;
    margin-top: 50px;
    width: 380px;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color:#ECE5E5; 
    padding-left: 150px;
    padding-right: 150px;
  }
  