.container {
    background-color: #ECE5E5;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px 100px 50px 100px;
  }
   
  .container header {
    width: 100%;
    height: 70px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .container header h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

   .container h2{
    font-size: 30px;
   }

  .container header span {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 2px gray;
    border-radius: 40px;
    padding: 3px 5px;
    background-color: white;
  }

  .container header span:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.707);
    transition: all 0.3s ease-in-out;
  }
   
  .container article {
    line-height: 25px;
    font-size: 20px;
  }

  @media only screen and (max-width: 730px) {
    .container article {
      font-size: 16px;
    }
    .container h2 {
      font-size: 21px;
    }
      .container {
        padding: 15px 40px 15px 40px;
      }

      .container header h2 {
        left: 54%;
      }
    }

    @media only screen and (max-width: 400px) {
      .container h2 {
        font-size: 19px;
      }

      .container {
        padding-left: 35px;
        padding-right: 35px;
      }

      .container header span {
        font-size: 16px;
      }
      }

      @media only screen and (max-width: 342px){
      .container header{
        width: 125%;
      }
    }