.logo {
  display: flex;
  flex-flow: column;
  width: fit-content;
  height: 50px;
  margin: 2px;
}

.icon {
  width: 120px;
  height: 40px;
  margin: 10px;
}

.icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .logo{
    left:50%;
    transform: translateX(-50%);
    position: absolute;
  }
  }
  @media screen and (max-width: 580px) {
    .logo{
    margin: 0;
    position: absolute;
    top: 4.7%;
    transform: translate(-50%,-50%);
    }
  }
  @media screen and (max-width: 350px) {
    .logo{
    display: none;
    }
  }