.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f3f8;
}

.containerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pageContent {
  display: inlne-flex;
  flex-direction: column;
}

.firstRow {
  display: flex;
  flex-direction: row;
}

.secondRow {
  display: flex;
  flex-direction: row;
}

.search {
  padding-right: 42vw;
  padding-top: 3vw;
}
