.button {
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1 {
  border-radius: 15px;
  border-color: black;
  background-color: #ece5e5;
  height: 30px;
  width: 100px;
}

